
name: test macOS binary

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, macos-15]

    steps:
    - name: Download latest Craterstats binary
      run: |
        mkdir -p ~/craterstats
        cd ~/craterstats
    
        ARCH=$(uname -m)
        if [ "$ARCH" = "arm64" ]; then
          PATTERN="macOS-arm64"
        else
          PATTERN="macOS-x86_64"
        fi
        
        LATEST_URL=$(curl -s https://api.github.com/repos/ggmichael/craterstats/releases/latest \
          | jq -r ".assets[] | select(.name | contains(\"$PATTERN\")) | .browser_download_url")
        
        echo "ARCH = $ARCH"
        echo "PATTERN = $PATTERN"
        echo "Downloading: $LATEST_URL"
        curl -L -o craterstats.zip "$LATEST_URL"
        unzip craterstats.zip
        xattr -dr com.apple.quarantine craterstats

    - name: Run a test command
      shell: zsh {0}
      run: |        
        cd ~/craterstats/craterstats
        ./craterstats -about
        
        alias craterstats=$HOME/craterstats/craterstats/craterstats           
        alias
        cd ~
        craterstats -v
