
name: test macOS binary

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-latest

    steps:
    - name: Download binary from main project
      run: |        
        VERSION="craterstats-3.6.3-macOS-arm64-beta"
        mkdir ~/craterstats
        cd ~/craterstats
        curl -o "$VERSION.zip" -L https://github.com/ggmichael/craterstats/releases/download/v3.6.3/craterstats-3.6.3-macOS-arm64-beta.zip
        unzip "$VERSION.zip"
        ls
#        cd "$VERSION"
        xattr -dr com.apple.quarantine craterstats

    - name: Run a test command
      run: |
        cd ~/craterstats/$VERSION/craterstats
        ./craterstats -about
