
name: test macOS binary

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
          os: [macos-latest, macos-15-intel]

    steps:
      - name: Download latest CraterStats binary
        run: |
          ARCHITECTURE=$(uname -m)
          echo "$ARCHITECTURE"
          mkdir -p ~/craterstats
          cd ~/craterstats
          PATTERN="macOS-$ARCHITECTURE"
          LATEST_URL=$(curl -s https://api.github.com/repos/ggmichael/craterstats/releases/latest \
            | jq -r ".assets[] | select(.name | contains(\"$PATTERN\")) | .browser_download_url")
          echo "Downloading $LATEST_URL ..."
          curl -L -o craterstats.zip "$LATEST_URL"
          unzip craterstats.zip
          xattr -dr com.apple.quarantine craterstats

      - name: Run a test command
        shell: zsh {0}
        run: |        
          cd ~/craterstats/craterstats
          ./craterstats -v          
          alias craterstats=$HOME/craterstats/craterstats/craterstats           
          alias
          cd ~
          craterstats -about
