
name: test macOS binary

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            arch: arm64
          - os: macos-15
            arch: x86_64
    steps:
      - name: Download latest CraterStats binary
        run: |
          mkdir -p ~/craterstats
          cd ~/craterstats
          PATTERN="macOS-${{ matrix.arch }}"
          LATEST_URL=$(curl -s https://api.github.com/repos/ggmichael/craterstats/releases/latest \
            | jq -r ".assets[] | select(.name | contains(\"$PATTERN\")) | .browser_download_url")
          echo "Downloading $LATEST_URL ..."
          curl -L -o craterstats.zip "$LATEST_URL"
          unzip craterstats.zip
          xattr -dr com.apple.quarantine craterstats

      - name: Run a test command
        shell: zsh {0}
        run: |        
          cd ~/craterstats/craterstats
          ./craterstats -v          
          alias craterstats=$HOME/craterstats/craterstats/craterstats           
          alias
          cd ~
          craterstats -about
